@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

.about{
    padding: 1.5rem;
    font-size: clamp(0.5rem, 0.9rem, 5rem);
    background-color: white;
    /* color: #ded4d6; */
    color: #d06c7d;
    margin: 0 4rem;
    /* font-family: 'Roboto', sans-serif; */
    font-family: 'Rajdhani', sans-serif;
    padding-top: 2rem;
}

.about > h3{
    font-weight: bold;
}

@media (min-width:800px){
    .about{
        font-size: 1.2rem;
    }
}