
.contact-list{
    overflow: auto;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.contact-list li{
    display: flex;
    gap: 0.3rem;
    border-bottom: 1px white solid;
    padding-bottom: 0.3rem;
}


.contact-item:hover{
    background-color: #ded4d6;
    color: #d06c7d;
}