
.skills{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.5rem;
}

.skills img{
    height: 5rem;
    
}


.skill
{
  position: relative;
  display: inline-block;
}


.skill .tooltip
{
  visibility: hidden;
  width: 120px;
  background-color: white;
  color: #d06c7d;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -60px;
}


.skill .tooltip::after
{
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: white transparent transparent transparent;
}


.skill:active .tooltip,
.skill:hover .tooltip
{
  visibility: visible;
}